body{font-family:Arial;margin:0;background:#f4f4f4}
nav{background:#3852e9;padding:15px;text-align:center}
nav a{color:white;margin:15px;text-decoration:none;font-weight:bold}
.container{text-align:center;padding:40px}
input,textarea{width:260px;padding:10px;border-radius:5px;border:1px solid #ccc}
button{padding:10px 25px;background:#4CAF50;color:white;border:none;border-radius:5px}